<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Edit Profile - Spectral Theme</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<noscript><link rel="stylesheet" th:href="@{/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">

<div id="page-wrapper">

	<!-- Header -->
	<header id="header">
		<h1><a href="/">Carpooling</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>Menu</span></a>
					<div id="menu">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/travels">My Travels</a></li>
							<li><a href="/logout">Log Out</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>

	<!-- Main -->
	<article id="main">
		<header>
			<h2>Edit Profile</h2>
			<p>Update your profile information below.</p>
		</header>
		<section class="wrapper style5">
			<div class="inner">

				<!-- Display Error Message if Present -->
				<div th:if="${errorMessage}" class="box alert">
					<p style="color:red;" th:text="${errorMessage}"></p>
				</div>

				<form th:action="@{/profile/{id}/update(id=${userId})}" th:object="${user}" method="post" class="alt">
					<div class="row gtr-uniform">
						<div class="col-6 col-12-xsmall">
							<label for="firstName">First Name</label>
							<input type="text" id="firstName" th:field="*{firstName}" placeholder="First Name">
						</div>
						<div class="col-6 col-12-xsmall">
							<label for="lastName">Last Name</label>
							<input type="text" id="lastName" th:field="*{lastName}" placeholder="Last Name">
						</div>
						<div class="col-6 col-12-xsmall">
							<label for="email">Email</label>
							<input type="email" id="email" th:field="*{email}" placeholder="Email">
						</div>
						<div class="col-6 col-12-xsmall">S
							<label for="phoneNumber">Phone Number</label>
							<input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Phone Number">
						</div>
						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" value="Save Changes" class="button primary" /></li>
								<li><a href="/profile" class="button">Cancel</a></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</section>
	</article>

	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
		</ul>
	</footer>

</div>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>
